streamlit==1.28.2
crewai
langchain_google_genai
embedchain==0.1.102
chromadb==0.4.22
appdirs
click
instructor
langchain==0.1.10
openai==1.13.3
opentelemetry-api==1.22.0
opentelemetry-exporter-otlp-proto-http==1.22.0
opentelemetry-sdk==1.22.0
pydantic==2.4.2
python-dotenv==1.0.0
regex==2023.12.25
alembic
beautifulsoup4
google-cloud-aiplatform
gptcache
langchain-openai
posthog
pypdf
pysbd
rich
schema
sqlalchemy
tiktoken
crewai[tools]
