streamlit==1.28.2
crewai
langchain_google_genai
embedchain
chromadb==0.4.22
appdirs
click
embedchain
instructor
langchain
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-http
opentelemetry-sdk
pydantic
python-dotenv
regex
 alembic
beautifulsoup4
chromadb
google-cloud-aiplatform
gptcache
langchain
langchain-openai
posthog
pypdf
pysbd
rich
schema
sqlalchemy
tiktoken
crewai[tools]
sqlite3==3.35.0
